---
import Page from "../components/Page.astro";
---

<Page title="Joshua SM's Portfolio">
  <h1>
    My Portfolio
  </h1>
  <h2>Project Menu</h2>
  <nav>
    <ul>
      <li>
        <a href="./projects/binary-search/"> 
          Binary Search Project 
        </a>
      </li>
      <!-- More projects to come soon! -->
    </ul>
  </nav>
  <h2>About Me</h2>
  <p>All About me: Hello my name is Joshua I am currently 16. I also like to play video games and have exsperince coding my own videogame. I also like to make youtube videos on my favorite game. I've often had many exsperince in the past working in multiple coding projects but I'm still unsure wether I'ts for me.</p>
</Page>
